@model IEnumerable<DAL.Entities.NewsArticle>

@{
    ViewData["Title"] = "1";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy!.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy!.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsArticleId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.NewsArticleId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.NewsArticleId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
